.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-bottom: -24.5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @media only screen and (max-width: 1044px) {
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 700px) {
    margin-bottom: -79rem;
  }

  @media only screen and (max-width: 375px) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  &__btn {
    background-color: #5275ff15;
    color: $primary-light-color-1;
    padding: 14px 41.5px;
  }
  &__btn:hover {
    color: $primary-light-color-2;
  }

  &__btn-spc {
    background-color: #fff;
  }

  &__card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px;
    width: 350px;
    height: 508px;

    @media only screen and (max-width: 1044px) {
      width: 689px;
      height: 316px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      align-items: flex-end;
    }

    @media only screen and (max-width: 700px) {
      width: 350px;
      height: 508px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__level {
    font-size: 20px;
    color: $primary-dark-color-1;
    font-weight: bold;
    margin-bottom: 40px;

    @media only screen and (max-width: 1044px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 700px) {
      margin-bottom: 40px;
    }
  }

  &__users {
    font-size: 16px;
    color: $primary-dark-color-1;
    margin-bottom: 56px;

    @media only screen and (max-width: 1044px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 700px) {
      margin-bottom: 56px;
    }
  }

  &__detail {
    color: $secondary-light-color-1;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  &__detail-last {
    margin-bottom: 32px;
  }

  // Specific card
  &__card-spc {
    color: #fff;
    background-color: $primary-light-color-1;
    background-image: url("/assets/home/bg-pattern-pricing.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    @media only screen and (max-width: 700px) {
      margin-bottom: 0rem;
    }
  }

  &__spc {
    color: #fff;
  }
}
