.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 63px;
  margin-bottom: 184px;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 170px;
  }

  @media only screen and (max-width: 375px) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  // @media only screen and (max-width: 1044px) {
  //   flex-direction: column;
  // }

  &__detail {
    width: 540px;

    @media only screen and (max-width: 1044px) {
      width: 345px;
      height: 352px;
    }

    // @media only screen and (max-width: 700px) {
    //   width: 572px;
    // }

    // @media only screen and (max-width: 1044px) {
    //   width: 100%;
    // }
  }

  &__description {
    font-size: 18px;
    line-height: 28px;
    color: $secondary-light-color-1;
    font-family: $primary-font;
    font-weight: 400;
    margin-bottom: 32px;

    // @media only screen and (max-width: 1044px) {
    //   font-size: 16px;
    //   line-height: 26px;
    // }
  }

  &__illustration {
    width: 475px;
    height: 531px;

    @media only screen and (max-width: 1044px) {
      width: 281px;
      height: 314px;
    }

    @media only screen and (max-width: 700px) {
      width: 80%;
      height: 100%;
    }
  }
}

.mrg-1 {
  margin-top: 102px;

  @media only screen and (max-width: 576px) {
    margin-top: 80px;
  }
}
.mrg-2 {
  margin-top: 154px;
}
