.sign-up-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sign-up-box {
  margin-right: -51rem;
  z-index: 2;
}

//

// Home page timer colors
.num-color-1 {
  color: #fff;
}
.bk-color-1 {
  background-color: $primary-dark-color-1;
}
// Sign up page timer colors
.num-color-2 {
  color: $primary-light-color-1;
}
.bk-color-2 {
  background-color: #5275ff15;
}

//

// Form
.sign-up-form {
  background-color: #fff;
  padding: 40px;
  width: 445px;
  height: 508px;
  border-radius: 13px;
  position: relative;
}

.input-box {
  width: 100%;
  padding-left: 16px;
  padding-bottom: 17px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.2px solid #747b9569;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 28px;
  color: $secondary-light-color-1;
}
.margin-bt {
  margin-bottom: 24px;
}
// .margin-bt-2 {
//   margin-bottom: 8px;
// }
.no-border {
  border-bottom: none;
}
.unique {
  border-bottom: 0.2px solid #747b9569;
  padding-bottom: 17px;
}

.form-btn {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fff;
  font-family: $primary-font;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.free {
  color: $secondary-light-color-1;
  opacity: 0.4;
  margin-left: 8px;
}
.list-icon {
  width: 11px;
  height: 5.5px;
}

.selection-list {
  background-color: #fff;
  width: 367px;
  height: 198px;
  border: 1px solid #5275ff15;
  padding: 32px;
  border-radius: 8px;
  position: absolute;
  top: 23rem;
  right: 4rem;
}
.padd {
  padding-left: 16px;
  padding-right: 15px;
}

//
.form-cta-btn {
  background-color: $primary-light-color-1;
  color: #fff;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  border: none;
  border-radius: 28px;
  width: 100%;
  height: 56px;
  margin-top: 40px;
  cursor: pointer;
}
.form-cta-btn:hover {
  background-color: $primary-light-color-2;
}

//

.footer-sign-up {
  background-color: $primary-dark-color2;
  width: 100%;
  height: 1152px;
  z-index: -1;
  background-image: url("/assets/home/bg-pattern-footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  // position: absolute;
  // top: 0rem;
  // right: 10%;
}

.hidden {
  display: none;
}
